:host {
  display: flex;
  flex-direction: row;
  color: var(--primary-text-color);
  overflow: hidden;
}

.canvas {
  overflow: overlay;
  flex-grow: 1;
}

.inner-canvas {
  width: 10000px;
  height: 10000px;
  background-color: var(--theme-primary-03);
  position: relative;
}

.tools {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  border-right: 1px solid var(--theme-border);
  background-color: var(--theme-primary-04);
  gap: 5px;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
}
