<div class="tools">
  <app-action-metadata text="Action 1"></app-action-metadata>
  <app-action-metadata text="Action 2"></app-action-metadata>
  <app-action-metadata text="Action 3"></app-action-metadata>
</div>

<div class="canvas">
  <div class="inner-canvas">

    <app-transition *ngFor="let transition of transitions"
      [style.left.px]="transition.fromX * 200 + 100" [style.top.px]="transition.fromY * 200 + 100"
      [style.width.px]="(transition.toX - transition.fromX) * 200 + 100" [style.height.px]="(transition.toY - transition.fromY) * 200 + 100" ></app-transition>

    <app-action *ngFor="let position of positions" [label]="'Action ' + position.stepId"
      [style.left.px]="position.x * 200 + 100"
      [style.top.px]="position.y * 200 + 100" ></app-action>

    <!-- <app-decision-point label="If user is admin"></app-decision-point> -->

  </div>
</div>
